import AOS from 'aos';
import 'aos/dist/aos.css'; // You can also use <link> for styles
// ..
AOS.init();

.body {
  width: 100%;
}

ul {
  list-style-type: none;
  line-height: 20vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  font-size: 40px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 40px 40px;
  text-decoration: none;
}

li a:hover {
  color: gray;
}


.left {
  float: left;
}

.left a {
  display: block;
  color: black;
  text-align: center;
  padding: 40px 40px;
  padding-right: 0px;
  text-decoration: none;
}





.content {
  position: relative;
  background-color: green;
  width: inherit;
  height: 600px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10vh;
}



.section-left {
  position: absolute;
  background-color: blue;
  margin-top: 5vh;
  margin-left: 2%;
  margin-right: 52%;
  width: 46%;
  height: 400px;
}

.section-right {
  position: absolute;
  background-color: red;
  margin-top: 5vh;
  margin-left: 52%;
  margin-right: 2%;
  width: 46%;
  height: 400px;
}
