import AOS from 'aos';
import 'aos/dist/aos.css'; // You can also use <link> for styles
// ..
AOS.init();

.body {
  width: 100%;
}

ul {
  list-style-type: none;
  line-height: 20vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  font-size: 40px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 40px 40px;
  text-decoration: none;
}

li a:hover {
  color: gray;
}


.left {
  float: left;
}

.left a {
  display: block;
  color: black;
  text-align: center;
  padding: 40px 40px;
  padding-right: 0px;
  text-decoration: none;
}





.content {
  position: absolute;
  background-color: green;
  width: inherit;
  position: relative;
  padding-top: 20vh;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}



.section {
  position: relative;
  background-color: blue;

}
